<% include ../partials/header %>

<div class="container">
    <h1>Write A Comment</h1>
    <div class="row new-post-row">
        <form action='/posts/<%= postId %>/comments' method='POST'>
            <div class="form-group">
                <input class="form-control" type='text' name='name' placeholder='Comment Headline'>
            </div>
            <div class="form-group">
                <textarea class="form-control" name='body' rows="10" placeholder='Comment Text'></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary new-post-button">Submit</button>
            </div>
            <a href="/posts">Go Back</a>
        </form>
    </div>
</div>
<% include ../partials/footer %>