body{
    background-color: aquamarine;
    background: linear-gradient(to bottom right, #000000 0%, #000066 100%);
    text-align: center;
}

.btn-post{
    color: whitesmoke;
}

.btn-post:hover{
    color: black;
}

.btn-edit-delete{
    display: inline-block;
    margin: 0 1% 0 1%;
}

.comment-hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.new-post-row{
    width: 30%;
    margin: 50px auto;
}

@media screen and (max-width: 1000px) {
    .new-post-row{
        width: 90%;
    }
}

.new-post-button{
    width:100%;
}

.photo-thumbnail{
    margin: 0 auto;
    width: 90%;
}




